.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.editform {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 3rem;
  max-width: 700px !important;
  background: #fff;
  border-radius: 1rem;
}

.form-sgt {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: #c7bdbd;
}

.edit-btn {
  margin-top: 1rem;
  width: 100%;
  background-color: turquoise;
  padding: 0.3rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  border: none;
}

label {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.back-btn {
  padding: 10px;
  background-color: orange;
  border: none;
  font-size: 1rem;
  font-weight: 900;
  margin-bottom: 0.2rem;
}
