.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.editform {
  margin-top: 3rem;
  padding: 20px;
  max-width: 500px !important;
}

.form-sgt {
  display: flex;
  flex-direction: column;
}

input {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}

.edit-btn {
  margin-top: 1rem;
  width: 100%;
  background-color: turquoise;
  padding: 0.3rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  border: none;
}

label {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.back-btn {
  padding: 10px;
  background-color: yellow;
  border: none;
  font-size: 1rem;
  font-weight: 900;
  margin-bottom: 0.2rem;
}

@media screen and (max-width: 800px) {
}
