.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.editform {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 2rem;
  max-width: 50vw !important;
  width: 30vw;
  background: #fff;
  border-radius: 1rem;
}

.form-sgt {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  padding: 0.7rem;
  border-radius: 5px;
  border: none;
  background-color: #ede9e8;
}

.edit-btn {
  margin-top: 0.5rem;
  width: 100%;
  background-color: turquoise;
  padding: 0.7rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  border: none;
}

label {
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}

.back-btn {
  padding: 10px 20px;
  background-color: orange;
  border: none;
  font-size: 1rem;
  font-weight: 900;
  margin-bottom: 0.1rem;
  border-radius: 1rem;
}

@media screen and (max-width: 680px) {
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .editform {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1.5rem;
    width: 90vw !important;
    background: #fff;
    border-radius: 1rem;
  }

  .form-sgt {
    display: flex;
    flex-direction: column;
  }

  input,
  textarea {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: #ede9e8;
  }

  .edit-btn {
    margin-top: 1rem;
    width: 100%;
    background-color: turquoise;
    padding: 0.7rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    font-weight: 400;
    border: none;
  }

  label {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .back-btn {
    padding: 10px 15px;
    border-radius: 1rem;
    background-color: orange;
    border: none;
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: 0.2rem;
  }
}
