.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  opacity: 0.4;
  width: 100vw;
  max-width: 1440px;
  height: 100vh !important;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.spinner-child {
  animation: spin 2s linear infinite;
  width: 20vw;
  z-index: 999;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadmsg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadmsg > p {
  z-index: 1000000;
  color: green;
  font-size: 2rem;
  font-weight: bolder;
}
