.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  opacity: 0.4;
  width: 100vw;
  max-width: 1440px;
  height: 100vh !important;
  position: absolute;
}

.spinner-child {
  animation: spin 2s linear infinite;
  width: 20vw;
  z-index: 999;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
