.container {
  width: 100vw !important;
  max-width: 1400px;
}
.person-card {
  background: #fff;
  margin: 0.7rem;
  border-radius: 1rem;
}

.cards-parent {
  width: 100% !important;
  grid-template-columns: repeat(3, 1fr);
  /* margin-left: 1rem;
  margin-right: 1rem; */
}

.search {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search > input {
  padding: 11px;
  border: none;
  outline: none;
  border-radius: 32px;
  background: #fff;
}
.card-header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.bio-div {
  padding-right: 10px;
  padding-left: 10px;
}
.card-header > p {
  font-weight: bold;
}

.bio-header {
  border-radius: 1rem 1rem 0 0;
  padding-right: 10px;
  padding-left: 10px;
  background: linear-gradient(to right, #add8e6 0%, #87ceeb 100%);
}
.editbtn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.editbtn {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: orange;
  padding: 10px;
  border: none;
  padding-right: 50px;
  padding-left: 50px;
  font-weight: bolder;
  transition: color 3s;
  font-size: 1rem;
  border-radius: 2px;
}

.editbtn:hover {
  color: #fff;
}
@media screen and (max-width: 1000px) {
  .cards-parent {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 680px) {
  .cards-parent {
    grid-template-columns: repeat(1, 1fr);
  }
}
